.cardsContainer {
  width: var(--width);
  max-width: var(--max-width);
  background-color: var(--bg-color);
  padding: 1rem 0;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}
