.cardsContainer {
  width: var(--width);
  // height: var(--heigth);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  position: relative;

  overflow: hidden;

  .card {
    background-image: url(../../../assets/bg.png);
    background-repeat: no-repeat;
    height: 350px;
    width: 300px;
    background-color: #ffffff1a;
    border-radius: 10px;

    text-align: center;
    padding: 0.5rem;
    color: var(--text-color);
  }
}
