@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}
@keyframes bg-spin {
    0% {
        --border-angle: 0turn;
      }
      100% {
        --border-angle: 1turn;
      }
    100% {
        --border-angle: 1turn;
    }
}
.hover-spinner:hover {
    --border-size: 3px;
    --border-angle: 0turn;
    background-image: conic-gradient(from var(--border-angle),var(--primary-color),var(--primary-color) 50%,var(--primary-color)),conic-gradient(from var(--border-angle),transparent 20%,#08f,#f03);
    background-size: calc(100% - var(--border-size) * 2) calc(100% - var(--border-size) * 2),cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 2s linear infinite;
}