.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .body {
        background-color: var(--secondary-color);
        color: var(--text-color);
        width: var(--width);
        height: var(--height);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        position: relative;

        .menu {
            display: none;
            fill: var(--text-color);
        }

        .header {
            position: absolute;
            top: 0;
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background: none;

            ul {
                width: 60%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                li {
                    list-style: none;
                    text-transform: uppercase;
                    &:hover {
                        border-bottom: 2px solid #3d3a3a;
                    }
                }
            }
            button {
                border: none;
                border-radius: 10px;
                color: var(--text-color);
                background-color: var(--primary-color);
                text-transform: uppercase;
                padding: 8px 17px;
            }
        }

        .logo {
            border-radius: 30px;
            position: relative;
            left: 10%;
            margin-top: 15%;
            width: 30%;
            height: 85%;
            display: flex;
            justify-content: center;

            background: rgba(8, 8, 8, 0.15);
            box-shadow: 5px 10px 10px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);

            img {
                width: 100%;
                height: 120%;
                margin-top: -30%;
                border-radius: 24% 76% 72% 28% / 57% 14% 86% 43%;
                filter: grayscale(1);
                &:hover {
                    filter: drop-shadow(0 0 2em #000dffaa);
                }
            }
            &:hover {
                transform: translateY(8px);
                transition: 1s;
            }
        }
        .text {
            width: 50%;
            height: 80%;
            padding: 5%;
            text-align: center;

            h3 {
                padding: 3% 0;
            }
            h5,
            h6 {
                width: 30%;
                border: 1px solid var(--text-color);
                margin-bottom: 10%;
            }
            h6 {
                margin: 0;
                justify-content: flex-end;
                margin-top: 10%;
                margin-left: 70%;
            }
        }
    }
}
.hide {
    display: none !important;
}

@media (max-width: 1000px) {
    .mainContainer {
        .body {
            .logo {
                left: 3%;
                margin-top: 25%;
                width: 40%;
                height: 85%;
            }
        }
    }
}

@media (max-width: 800px) {
    :root {
        --width: 85% !important;
        --height: 80% !important;
    }

    .mainContainer {
        .body {
            flex-direction: column;
            position: relative;
            .menu {
                display: flex;
                position: absolute;
                top: 5%;
                right: 5%;
                font-size: 2rem;
                z-index: 300;

                svg path {
                    stroke: var(--text-color);
                }
            }

            .header {
                position: absolute;
                top: 5%;
                right: 5%;
                width: 60%;
                height: 60%;
                padding: 5%;
                z-index: 200;
                background-color: var(--primary-color);
                flex-direction: column;
                ul {
                    width: 90%;
                    height: 70%;
                    justify-content: space-around;
                    flex-direction: column;
                    li {
                        &:hover {
                            border-bottom: 2px solid #5f5;
                        }
                    }
                }
                button {
                    box-shadow: 0 0 10px #5f5;
                }
            }

            .logo {
                left: 0%;
                margin-top: 8%;
                width: 45%;
                height: 70%;
            }
            .text {
                width: 90%;
                height: 50%;
                padding: 2%;
                text-align: center;

                h3 {
                    padding: 0;
                }
                h5,
                h6 {
                    margin: 3%;
                }
                h6 {
                    margin-left: 70%;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    :root {
        --width: 90% !important;
        --height: 85% !important;
    }
    .mainContainer {
        .body {
            .logo {
                width: 55%;
                height: 60%;
            }
        }
    }
}

@media (min-width: 800px) {
    .mainContainer{
        .body{
            .header{
                display: flex !important;
            }
        }
    }
}