.mainContainer {
  padding: 5rem 1rem;
  position: relative;
  flex-direction: row;
  margin-top: 4rem;

  .logo {
    border-radius: 30px;
    background: rgba(133, 132, 132, 0.137);
    box-shadow: 5px 10px 10px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    img {
      clip-path: polygon(
        68% 6%,
        79% 18%,
        81% 35%,
        72% 52%,
        74% 58%,
        100% 64%,
        100% 100%,
        0 100%,
        0 63%,
        26% 56%,
        26% 48%,
        21% 35%,
        22% 16%,
        43% 3%
      );
      width: 100%;
      height: 120%;
      margin-top: -30%;
      border-radius: 24% 76% 72% 28% / 57% 14% 86% 43%;
      filter: grayscale(1);
      &:hover {
        filter: drop-shadow(0 0 10px #000dffaa);
      }
    }
  }
  .text {
    width: 50%;
    height: 80%;
    padding: 5%;
    text-align: center;

    div {
      font-size: 1.5rem;
      width: 100%;
      height: 50px;

      .Typewriter__cursor {
        color: red;
        font-weight: bolder;
        font-size: 1.5rem;
      }

      .Typewriter__wrapper {
        p {
          margin-top: -5%;
        }

        h4 {
          font-style: italic;
          color: orangered;
        }
      }
    }

    h5,
    h6 {
      width: 30%;
      border: 1px solid var(--text-color);
      margin-bottom: 10%;
    }
    h6 {
      margin: 0;
      justify-content: flex-end;
      margin-top: 10%;
      margin-left: 70%;
    }
  }
}

@media (max-width: 800px) {
  .mainContainer {
    flex-direction: column;
    position: relative;

    .logo {
      left: 0%;
      width: 55%;
    }
    .text {
      width: 100%;
      height: 50%;
      padding: 0 2%;
      text-align: center;

      h5,
      h6 {
        margin: 3%;
      }
      h6 {
        margin-left: 70%;
      }
    }
  }
}

@media (max-width: 600px) {
  .mainContainer {
    .logo {
      width: 65%;
    }
    .text {
      div {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 430px) {
  // :root {
  //   --width: 90% !important;
  // }
  .mainContainer {
    .logo {
      width: 75%;
    }
    .text {
      div {
        font-size: 1.2rem;
      }
    }
  }
}
