.containerDarkMode {
    width: 100%;
    font-size: 2.5rem;
    display: flex;
    justify-content: end;
    padding: 5px 10%;
    
    svg {
        width: 2.3rem;
        border-radius: 50%;
        margin: 5px 2%;
    }

    .dark {
        background-color: var(--dark-color);
        color: var(--light-color);
        background-color: #022d6dc9;
        box-shadow: 0 0 10px #022c6d, 0 0 50px #022c6d;
    }

    .light {
        background-color: var(--light-color);
        color: var(--dark-color);
        background-color: #ffe600a6;
        box-shadow: 0 0 10px #ffe600, 0 0 50px #ffe600;
    }
}

@media (max-width: 420px) {
    .containerDarkMode {
        font-size: 2rem;
    }
}
