header {
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: flex-end;
  color: var(--text-color);

  @media (max-width: 420px) {
    header {
      font-size: 1.8rem;
      svg {
        margin: 5px;
      }
    }
  }
}
