.containerAbout{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    .body{
        background-color: var(--secondary-color);
        width: var(--width);
        height: var(--height);
        color: var(--text-color);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5%;

        h1{
            margin-bottom: 2%;
        }
        .aboutText{
            font-size: 1.2rem;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 0 5%;
            li{
                list-style-type: square;
                padding: 1% 0;
            }
        }

    }
}