.containerAbout {
  h1 {
    margin-bottom: 2%;
  }
  section {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
      color: var(--text-color);
      a {
        margin: 0 1rem;
        color: #76ff1b;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
