.containerDarkMode {
    position: absolute;
    top: 0.5%;
    right: 10%;
    text-align: center;
    border-radius: 40px;
    font-size: 2.5rem;
    width: 14%;
    padding: 1%;
    display: flex;
    justify-content: space-around;

    svg{
        width: 50%;
        border-radius: 40%;
    }
    
    .dark {
        background-color: var(--dark-color);
        color: var(--light-color);
        border-right: 1px solid var(--text-color);
        
        background-color: #022c6d;
        box-shadow: 0 0 10px #022c6d,
        0 0 20px #022c6d,
        0 0 30px #022c6d,
        0 0 50px #022c6d;
    
}

.light {
    background-color: var(--light-color);
    color: var(--dark-color);
    border-left: 1px solid var(--text-color);

        background-color: #ffe600;
        box-shadow: 0 0 10px #ffe600,
        0 0 20px #ffe600,
        0 0 30px #ffe600,
        0 0 50px #ffe600;
    
}

}

// --light-primary-color: #e0dede;
// --dark-primary-color: #494848;

// --light-color: #fff;
// --dark-color: #000;
