.containerProjects {
  --icons-color: #76ff1b;
  border: 1px solid var(--icons-color);

  width: 100%;
  height: 90vh !important;
  display: flex;
  align-items: center;
  justify-content: center;

  header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
      position: absolute;
      left: 20px;
      font-size: 2rem;
      color: var(--text-color);
    }
    h1 {
      color: var(--text-color);
      text-align: center;
    }
  }

  .all {
    display: flex;
    height: 80%;
    align-items: center;

    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1.3s ease-out;
    justify-content: center;
    transform-style: preserve-3d;

    .left,
    .center,
    .right {
      width: 150px;
      height: 95px;
      transform-style: preserve-3d;
      border-radius: 10px;
      border: 1px solid #fff;
      box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
      opacity: 0;
      transition: all 0.3s ease;
      transition-delay: 0.5s;
      position: relative;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: var(--bg-color);
      background-blend-mode: color-burn;

      color: var(--icons-color);
      font-size: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
        background-color: var(--bg-menu-color);
      }
    }

    .text {
      transform: translateY(30px);
      opacity: 0;
      transition: all 0.3s ease;
      bottom: 0;
      left: 5px;
      position: absolute;
      will-change: transform;
      color: var(--text-color);
      text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
      font-size: 1rem;
    }
    .left {
      transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
    }

    .center {
      opacity: 1;
    }
    .right {
      transform: translateX(30px) translateZ(-25px) rotateY(5deg);
    }
    .explainer {
      font-weight: 300;
      font-size: 1.8rem;
      gap: 0.3rem;
      color: #fff;
      transition: all 0.6s ease;
      width: 100%;
      height: 100%;
      background-image: radial-gradient(
        circle at center top,
        var(--text-color),
        var(--bg-color)
      );
      border-radius: 10px;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .allHover {
    perspective: 1000px;
    transition: all 0.5s ease-in;
    transform: perspective(10000px) rotateX(0deg);
    .text {
      opacity: 1 !important;
    }

    div {
      opacity: 1 !important;
      transition-delay: 0s;
    }
    .explainer {
      span {
        opacity: 0;
      }
      .icon {
        position: absolute;
        width: 50px;
        height: 90px;
        color: var(--icons-color);
        transition: all 1s ease;
      }
    }
  }

  @media (max-width: 700px) {
    .all {
      flex-direction: column;
      gap: 2.5rem;
    }
  }
}
