.card {
  background-image: url(../../../assets/bg.png);
  background-repeat: no-repeat;
  height: 350px;
  width: 300px;
  background-color: #ffffff1a;
  border-radius: 10px;

  padding: 0.5rem;
  color: var(--text-color);

  h1 {
    text-align: center;
  }

  /* first card */
  .firstCard {
    .data {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding: 0.5rem 0;
      gap: 0.5rem;

      article {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.2rem;
        padding: 0.5rem 0;

        p {
          font-size: 13px;
        }
      }
    }
  }

  /* second card */
  .secondCard {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-self: center;
    gap: 1rem;

    .containers {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 0.5rem 0;

      svg {
        width: 3rem;
        height: 3rem;
      }
    }

    .main {
      grid-column: 1/3;
      display: flex;
      flex-direction: column;
      position: relative;

      .title {
        display: flex;
        justify-content: center;
        gap: 0 1rem;
        flex-wrap: wrap;

        .number {
          display: flex;
          text-align: center;
          font-size: 2rem;
          width: 100px;
        }

        p:first-child {
          display: flex;
          align-items: center;
        }

        p:last-child {
          width: 100%;
          text-align: center;
        }
      }

      .languages {
        width: 100%;
        height: 100%;
        display: flex;

        div {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: end;
          justify-content: center;
          padding: 0.2rem;

          &:first-child {
            svg {
              scale: 1.2;
            }
          }
        }
      }
    }

    .webs {
      .title {
        h3 {
          text-align: center;
          font-size: 2rem;
        }
        p {
          font-size: 0.9rem;
        }
        p:first-child {
          margin-bottom: -10px;
        }
        p:last-child {
          text-align: center;
        }
      }
    }

    .repos {
      p {
        font-size: 0.9rem;
      }
      p:first-child {
        margin-bottom: -10px;
      }
      h3 {
        font-size: 2rem;
        text-align: center;
      }
      p:last-child {
        text-align: center;
      }
    }
  }
}
