.containerGoUp {
  position: fixed;
  top: 90%;
  left: 3rem;
  z-index: 200;

  .body {
    border-radius: 50%;
    font-size: 2.5rem;
    color: var(--upBtn-color);
  }
}
@media (max-width: 500px) {
  .containerGoUp {
    left: 1rem;
  }
}
