@import './styles/hover-spinner.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e0dede;
  --secondary-color: #fff;
  --text-color: #000;

  --menu-color: #ffffffb7;

  --width: 80%;
  --height: 80%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}